.clients {
  @media screen and (max-width: 379px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: 380px) and (max-width: 479px) {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  @include mobile {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  // @include FlexCenter(flex, null, null);

  &__item {
    height: 92px;

    @media screen and (max-width: 379px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 380px) and (max-width: 479px) {
      flex-basis: calc((100% - 15px) / 2);
    }

    @include mobile {
      flex-basis: calc((100% - 30px) / 2);
    }

    @include tablet {
      flex-basis: calc((100% - 60px) / 3);
    }

    @include desctop {
      flex-basis: calc((100% - 150px) / 6);
      // margin-right: var(--typical-gap);

      // &:last-child {
      //   margin-right: 0;
      // }
    }

    &__item:last-child {
      @media screen and (max-width: 379px) {
        margin-bottom: 0;
      }
    }
  }
}

.clients {
  &__link {
    @include FlexCenter;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
      border-color: var(--accent-text-color);
    }
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic-bezier);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-text-color);
  }
}
