.clients {
  @include FlexCenter(flex, null, null);

  &__item {
    width: calc((100% - 150px) / 6);
    height: 92px;
    margin-right: var(--typical-gap);

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    @include FlexCenter;
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
      border-color: var(--accent-text-color);
    }
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic-bezier);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-text-color);
  }
}
