.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  @include FlexCenter(flex, null, center);
}

.nav {
  @include FlexCenter(flex, null, center);
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
