// .hero {
//   background-color: #c4c4c4;
//   text-align: center;
//   padding-top: 118px;
//   padding-bottom: 118px;

//   @include desctop {
//     padding-top: 200px;
//     padding-bottom: 200px;
//   }

//   &__title {
//     max-width: 360px;
//     text-align: center;
//     margin: 0 auto;

//     font-weight: 900;
//     font-size: 26px;
//     line-height: 1.62;
//     letter-spacing: 0.06em;
//     color: #ffffff;
//     text-transform: uppercase;

//     @include desctop {
//       max-width: 696px;

//       font-size: 44px;
//       line-height: 1.36;
//     }
//   }

//   &__btn {
//     margin-top: var(--typical-gap);
//     padding-left: 32px;
//     padding-right: 32px;

//     &:hover,
//     &:focus {
//       background-color: #188ce8;
//     }
//   }
// }

// .hero {
//   max-height: 400px;
//   // max-height: 100%;
//   margin-left: auto;
//   margin-right: auto;
//   // max-height: 400px;
//   @media screen and (max-width: 480px) {
//     // max-width: 479px;

//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(/images/header/header-mobile.jpg);
//     background-repeat: no-repeat;
//     @include retina {
//       background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(/images/header/header-mobile_2x.jpg);
//     }
//   }

//   @media screen and (max-width: 768px) {
//     // max-width: 1199px;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(/images/header/header-tablet.jpg);
//     @include retina {
//       background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(/images/header/header-tablet_2x.jpg);
//     }
//   }

//   @media screen and (min-width: 769px) {
//     // max-width: 1600px;
//     max-height: 600px;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(/images/header/header-desctop.jpg);
//     @include retina {
//       background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(/images/header/header-desctop_2x.jpg);
//     }
//   }
//   // background-position: center;
//   // max-width: 1600px;

//   // background-position: center;
//   // max-width: 1600px;
// }

// .hero {
//   margin-left: auto;
//   margin-right: auto;
//   max-height: 400px;
//   background-repeat: no-repeat;
//   background-position: center;

//   @media screen and (max-width: 480px) {
//     // max-width: 479px;

//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(/images/header/header-mobile.jpg);
//     background-repeat: no-repeat;
//     @include retina {
//       background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(/images/header/header-mobile_2x.jpg);
//     }
//   }

//   @media screen and (min-width: 481px) and (max-width: 768px) {
//     //     // max-width: 1199px;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(/images/header/header-tablet.jpg);
//     @include retina {
//       background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(/images/header/header-tablet_2x.jpg);
//     }
//   }
//   @media screen and (min-width: 769px) {
//     // max-width: 1600px;
//     max-height: 600px;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(/images/header/header-desctop.jpg);
//     @include retina {
//       background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(/images/header/header-desctop_2x.jpg);
//     }
//   }
// }

// .hero {
//   max-width: 480px;
//   margin-left: auto;
//   margin-right: auto;
//   max-height: 400px;
//   background-repeat: no-repeat;
//   background-position: center;

//   // @media screen and (max-width: 480px) {
//   // max-width: 479px;

//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(/images/header/header-mobile.jpg);
//   background-repeat: no-repeat;
//   @include retina {
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(/images/header/header-mobile_2x.jpg);
//     // }
//   }
//   @media screen and (min-width: 768px) {
//     max-width: 768px;

//     // @media screen and (min-width: 481px) and (max-width: 768px) {
//     //     // max-width: 1199px;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(/images/header/header-tablet.jpg);
//     @include retina {
//       background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(/images/header/header-tablet_2x.jpg);
//     }
//   }
//   @media screen and (min-width: 1200px) {
//     max-width: 1600px;
//     max-height: 600px;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(/images/header/header-desctop.jpg);
//     @include retina {
//       background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(/images/header/header-desctop_2x.jpg);
//     }
//   }
// }

.hero {
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;

  @include desctop {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    max-width: 360px;
    text-align: center;
    margin: 0 auto;

    font-weight: 900;
    font-size: 22px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-transform: uppercase;
    @include mobile {
      font-size: 26px;
    }

    @include desctop {
      max-width: 696px;

      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__btn {
    margin-top: var(--typical-gap);
    padding-left: 32px;
    padding-right: 32px;

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }
}
.hero {
  max-width: 479px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(/images/header/header-mobile.jpg);
  background-repeat: no-repeat;
  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(/images/header/header-mobile_2x.jpg);
    // }
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(/images/header/header-tablet.jpg);
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/header/header-tablet_2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(/images/header/header-desctop.jpg);
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(/images/header/header-desctop_2x.jpg);
    }
  }
}
