.examples {
  @include FlexCenter(flex, null, null);
  margin-right: calc(-1 * var(--typical-gap));

  &__item {
    flex-basis: calc(100% / 3);
    margin-right: var(--typical-gap);
  }

  &__link {
    position: relative;
  }

  &__wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
  }

  &__subtitle {
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}
