.footer-contact {
  &__item {
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__address {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
  }

  &__link {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--cubic-bezier);

    &:focus,
    &:hover {
      color: var(--accent-text-color);
    }
  }
}
