.form {
  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--secondary-text-color);
  }

  &__label {
    display: block;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--cubic-bezier);

    &:focus-within {
      border-color: var(--accent-text-color);
      outline: transparent;
    }
  }
  &__text {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  }

  &__wrap {
    display: block;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms var(--cubic-bezier);
  }

  &__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms var(--cubic-bezier);

    &::placeholder {
      font-size: 14px;
      line-height: 1.33;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }

    &:focus-within {
      border-color: var(--accent-text-color);
      outline: transparent;
    }
  }

  &__text-policy {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &__link {
    color: var(--accent-text-color);
    transition: text-decoration 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__policy {
    @include FlexCenter;
  }
}

.form__wrap:focus-within > .form__icon {
  fill: var(--accent-text-color);
}

.form__policy-icon {
  @include FlexCenter;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;
  fill: transparent;
  transition: box-shadow 250ms var(--cubic-bezier), border-color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier), fill 250ms var(--cubic-bezier);

  .form__checkbox:focus + & {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--accent-text-color);
  }

  .form__checkbox:checked + & {
    border-color: transparent;
    fill: #fff;
    background-color: var(--accent-text-color);
  }
}

