.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--secondary-text-color);

  // &--margin {
  //   margin-bottom: 50px;
  // }

  // @media screen and (max-width: 1199px) {
  font-size: 28px;
  line-height: 1.17;
  // }

  @include desctop {
    font-size: 36px;
    line-height: 1.17;
  }
}

.section__title--margin {
  margin-bottom: 30px;
  @include desctop {
    margin-bottom: 50px;
  }
}
