:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-bgc: #e5e5e5;
  --secondary-bgc: #2f303a;
  --typical-gap: 30px;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
